.btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.055em;

  color: $main;
  width: 202px;
  text-align: center;
  background-color: #37C8FD;
  padding: 15px;
  box-sizing: border-box;
  display: block;
}
