$tablet: 780px;
$desktop: 1210px;

//colors
$main: #ffffff;
$bg: #f3f3f3;
$main-text: #0d3351;
$title-text: #00a2dd;

//fonts
$main-font: 'Raleway', 'Arial', sans-serif;
$title-font: 'Roboto Slab', Courier, monospace;